.card {
    --cui-card-spacer-y: 1rem;
    --cui-card-spacer-x: 1rem;
    --cui-card-title-spacer-y: 0.5rem;
    --cui-card-title-color: ;
    --cui-card-subtitle-color: ;
    --cui-card-border-width: var(--cui-border-width);
    --cui-card-border-color: var(--cui-border-color-translucent);
    --cui-card-border-radius: var(--cui-border-radius);
    --cui-card-box-shadow: ;
    --cui-card-inner-border-radius: calc(var(--cui-border-radius) - var(--cui-border-width));
    --cui-card-cap-padding-y: 0.5rem;
    --cui-card-cap-padding-x: 1rem;
    --cui-card-cap-bg: rgba(var(--cui-body-color-rgb), 0.03);
    --cui-card-cap-color: ;
    --cui-card-height: ;
    --cui-card-color: ;
    --cui-card-bg: var(--cui-body-bg);
    --cui-card-img-overlay-padding: 1rem;
    --cui-card-group-margin: 0.75rem;
    word-wrap: break-word;
    background-clip: border-box;
    background-color: var(--cui-card-bg);
    border: var(--cui-card-border-width) solid var(--cui-card-border-color);
    border-radius: var(--cui-card-border-radius);
    color: var(--cui-body-color);
    display: flex;
    flex-direction: column;
    height: var(--cui-card-height);
    min-width: 0;
    position: relative;
}
