#projects {
    height: 91vh;
    display: flex;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
}

#showcase-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 500px;
}

#tag-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#cards-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    overflow-x: scroll;
    width: 100%;
    
}

@media screen and (max-width: 768px) {
    #cards-container {
      flex-direction: column;  /* Stack cards vertically for smaller screens */
    }
  }