
.nav-bar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9vh;
}

.nav-bar-logo{
    margin-left: 3%;
    background-color: transparent;
}

.nav-bar-links-container {
    margin-right: 3%;
    display: flex;
    justify-content: space-around;
    width: 30%;
    list-style: none;
}

.nav-bar-links{
    color: #000;
    text-decoration: none;
}

#contact-nav:hover{
    cursor: pointer;
}